.dialog-pane {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2E339C, #100D21);
}

.dialog-pane > .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane > .header-panel > .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.dialog-pane > .content {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 15px 10px;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane > .button-bar {
    -fx-background-color: transparent;
}

.dialog-pane .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: #45a049;
}

.dialog-pane .button:cancel {
    -fx-background-color: #3f4287;
}

.dialog-pane .button:cancel:hover {
    -fx-background-color: #333569;
}

.dialog-pane > .graphic-container {
    -fx-background-color: transparent;
}