.root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2E339C, #100D21);
}

#register-container {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 10;
    -fx-max-width: 160px;
    -fx-pref-width: 160px;
    -fx-alignment: center;
}

#register-box {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-max-width: 150px;
}

#register-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#username-field, #password-field, #name-field, #limit-field {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #808080;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 12px;
    -fx-max-width: 140px;
    -fx-pref-width: 140px;
}

#register-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5 10;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-min-height: 25;
    -fx-max-width: 140px;
    -fx-pref-width: 140px;
}

#register-button:hover {
    -fx-background-color: #45a049;
}
