#backgroundStartMenu{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2E339C, #100D21);
}
#text-labels{
    -fx-text-fill: white;
}
#goButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
}
#goButton:hover {
    -fx-background-color: #45a049;
}
